// SPDX-License-Identifier: GPL-2.0-or-later OR MIT
   2 
   3 #include "qcom-ipq4019.dtsi"
   4 #include <dt-bindings/gpio/gpio.h>
   5 #include <dt-bindings/input/input.h>
   6 #include <dt-bindings/soc/qcom,tcsr.h>
   7 
   8 / {
   9         model = "Luma Home WRTQ-329ACN";
  10         compatible = "luma,wrtq-329acn";
  11 
  12         i2c-gpio {
  13                 compatible = "i2c-gpio";
  14                 sda-gpios = <&tlmm 1 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;
  15                 scl-gpios = <&tlmm 0 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;
  16                 #address-cells = <1>;
  17                 #size-cells = <0>;
  18 
  19                 /* No driver exists */
  20                 led_ring@48 {
  21                         compatible = "ti,msp430";
  22                         reg = <0x48>;
  23                 };
  24 
  25                 eeprom@50 {
  26                         compatible = "atmel,24c16";
  27                         reg = <0x50>;
  28                         pagesize = <16>;
  29                         read-only;
  30                 };
  31         };
  32 
  33         keys {
  34                 compatible = "gpio-keys";
  35 
  36                 reset {
  37                         label = "reset";
  38                         gpios = <&tlmm 63 GPIO_ACTIVE_LOW>;
  39                         linux,code = <KEY_RESTART>;
  40                 };
  41         };
  42 
  43         soc {
  44                 rng@22000 {
  45                         status = "okay";
  46                 };
  47 
  48                 tcsr@1949000 {
  49                         compatible = "qcom,tcsr";
  50                         reg = <0x1949000 0x100>;
  51                         qcom,wifi_glb_cfg = <TCSR_WIFI_GLB_CFG>;
  52                 };
  53 
  54                 tcsr@194b000 {
  55                         compatible = "qcom,tcsr";
  56                         reg = <0x194b000 0x100>;
  57                         qcom,usb-hsphy-mode-select = <TCSR_USB_HSPHY_HOST_MODE>;
  58                 };
  59 
  60                 ess_tcsr@1953000 {
  61                         compatible = "qcom,tcsr";
  62                         reg = <0x1953000 0x1000>;
  63                         qcom,ess-interface-select = <TCSR_ESS_PSGMII>;
  64                 };
  65 
  66                 tcsr@1957000 {
  67                         compatible = "qcom,tcsr";
  68                         reg = <0x1957000 0x100>;
  69                         qcom,wifi_noc_memtype_m0_m2 = <TCSR_WIFI_NOC_MEMTYPE_M0_M2>;
  70                 };
  71 
  72                 usb2@60f8800 {
  73                         status = "okay";
  74                 };
  75 
  76                 usb3@8af8800 {
  77                         status = "okay";
  78                 };
  79 
  80                 crypto@8e3a000 {
  81                         status = "okay";
  82                 };
  83 
  84                 watchdog@b017000 {
  85                         status = "okay";
  86                 };
  87         };
  88 };
  89 
  90 &blsp_dma {
  91         status = "okay";
  92 };
  93 
  94 
  95 &blsp1_spi1 {
  96         status = "okay";
  97 
  98         cs-gpios = <&tlmm 54 GPIO_ACTIVE_HIGH>,
  99                    <&tlmm 59 GPIO_ACTIVE_HIGH>;
 100         pinctrl-0 = <&spi0_pins>;
 101         pinctrl-names = "default";
 102 
 103         flash@0 {
 104                 compatible = "jedec,spi-nor";
 105                 reg = <0>;
 106                 spi-max-frequency = <24000000>;
 107 
 108                 partitions {
 109                         compatible = "fixed-partitions";
 110                         #address-cells = <1>;
 111                         #size-cells = <1>;
 112 
 113                         partition@0 {
 114                                 label = "0:SBL1";
 115                                 reg = <0x000000 0x040000>;
 116                                 read-only;
 117                         };
 118 
 119                         partition@40000 {
 120                                 label = "0:MIBIB";
 121                                 reg = <0x040000 0x020000>;
 122                                 read-only;
 123                         };
 124 
 125                         partition@60000 {
 126                                 label = "0:QSEE";
 127                                 reg = <0x060000 0x060000>;
 128                                 read-only;
 129                         };
 130 
 131                         partition@c0000 {
 132                                 label = "0:CDT";
 133                                 reg = <0x0c0000 0x010000>;
 134                                 read-only;
 135                         };
 136 
 137                         partition@d0000 {
 138                                 label = "0:DDRPARAMS";
 139                                 reg = <0x0d0000 0x010000>;
 140                                 read-only;
 141                         };
 142 
 143                         partition@e0000 {
 144                                 label = "0:APPSBLENV";
 145                                 reg = <0x0e0000 0x010000>;
 146                         };
 147 
 148                         partition@f0000 {
 149                                 label = "0:APPSBL";
 150                                 reg = <0x0f0000 0x080000>;
 151                                 read-only;
 152                         };
 153 
 154                         partition@170000 {
 155                                 label = "0:ART";
 156                                 reg = <0x170000 0x010000>;
 157                                 read-only;
 158                                 compatible = "nvmem-cells";
 159                                 #address-cells = <1>;
 160                                 #size-cells = <1>;
 161 
 162                                 macaddr_art_0: macaddr@0{
 163                                         reg = <0x0000 0x0006>;
 164                                 };
 165 
 166                                 macaddr_art_6: macaddr@6{
 167                                         reg = <0x0006 0x0006>;
 168                                 };
 169 
 170                                 precal_art_1000: precal@1000 {
 171                                         reg = <0x1000 0x2f20>;
 172                                 };
 173 
 174                                 precal_art_5000: precal@5000 {
 175                                         reg = <0x5000 0x2f20>;
 176                                 };
 177                         };
 178                 };
 179         };
 180 
 181         flash@1 {
 182                 status = "okay";
 183 
 184                 compatible = "spi-nand";
 185                 reg = <1>;
 186                 spi-max-frequency = <24000000>;
 187 
 188                 partitions {
 189                         compatible = "fixed-partitions";
 190                         #address-cells = <1>;
 191                         #size-cells = <1>;
 192 
 193                         partition@0 {
 194                                 label = "ubi";
 195                                 reg = <0x0000000 0x8000000>;
 196                         };
 197                 };
 198         };
 199 };
 200 
 201 &blsp1_uart1 {
 202         status = "okay";
 203 
 204         pinctrl-0 = <&serial0_pins>;
 205         pinctrl-names = "default";
 206 };
 207 
 208 &cryptobam {
 209         status = "okay";
 210 };
 211 
 212 &gmac {
 213         status = "okay";
 214 };
 215 
 216 &ethphy0 {
 217         status = "disabled";
 218 };
 219 
 220 &ethphy1 {
 221         status = "disabled";
 222 };
 223 
 224 &ethphy3 {
 225         status = "disabled";
 226 };
 227 
 228 &mdio {
 229         status = "okay";
 230 };
 231 
 232 &switch {
 233         status = "okay";
 234 };
 235 
 236 &swport3 {
 237         status = "okay";
 238 
 239         label = "lan";
 240         nvmem-cell-names = "mac-address";
 241         nvmem-cells = <&macaddr_art_6>;
 242 };
 243 
 244 &swport5 {
 245         status = "okay";
 246 
 247         nvmem-cell-names = "mac-address";
 248         nvmem-cells = <&macaddr_art_0>;
 249 };
 250 
 251 &tlmm {
 252         serial0_pins: serial0_pinmux {
 253                 mux {
 254                         function = "blsp_uart0";
 255                         pins = "gpio60", "gpio61";
 256                         bias-disable;
 257                 };
 258         };
 259 
 260         spi0_pins: spi0_pinmux {
 261                 mux {
 262                         function = "blsp_spi0";
 263                         pins = "gpio55", "gpio56", "gpio57";
 264                         bias-disable;
 265                         drive-strength = <12>;
 266                 };
 267 
 268                 mux_cs {
 269                         function = "gpio";
 270                         pins = "gpio54", "gpio59";
 271                         bias-disable;
 272                         drive-strength = <2>;
 273                         output-high;
 274                 };
 275         };
 276 };
 277 
 278 &usb2_hs_phy {
 279         status = "okay";
 280 };
 281 
 282 &usb3_hs_phy {
 283         status = "okay";
 284 };
 285 
 286 &usb3_ss_phy {
 287         status = "okay";
 288 };
 289 
 290 &wifi0 {
 291         status = "okay";
 292         nvmem-cell-names = "pre-calibration";
 293         nvmem-cells = <&precal_art_1000>;
 294         qcom,ath10k-calibration-variant = "Luma-WRTQ-329ACN";
 295 };
 296 
 297 &wifi1 {
 298         status = "okay";
 299         nvmem-cell-names = "pre-calibration";
 300         nvmem-cells = <&precal_art_5000>;
 301         qcom,ath10k-calibration-variant = "Luma-WRTQ-329ACN";
 302 };
